*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}
body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 18vh 70vh 12vh;
    span{
        
    }
    header{
        grid-area: header;
        background-color: #5C8B67;
        display: flex;
        img{
            display: flex;
            margin-left: 38.7vw;
            width: 12vw;
            height: 13vh;
            align-items: center;
            margin-top: 2vh;
        }
        a{
            display: flex;
            color: white;
            text-decoration: none;
            font-size: 2.2vh;
            gap: 1vh;
            align-items: center;
            margin-left: 0.5vw;
        }
        button{
            height: 4vh;
            width: 11vw;
            background-color: #76bd86;
            border: none;
            border-radius: 0.6vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 32vw;
            margin-top: 6.5vh;
            padding-right: 1vh;
            transition: all 0.3s;
        }
        button:hover{
            transition: all 0.3s;
            transform: scale(1.05);
        }
    }
    #aside1{
        grid-area: aside1;
    }
    main{
        grid-area: main;
        font-size: 1.7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #login{
            background-color: #E7C7B3;
            padding: 1vh;
            width: 50vw;
            border-radius: 2vh;
            form{
                display: flex;
                flex-direction: column;
                gap: 1vh;
                input{
                    width: 30vw;
                    height: 2.5vh;
                    background-color: #F5E8DF;
                    border: none;
                    border-radius: 0.7vh;
                    outline: none;
                    font-size: 1.5vh;
                }
                align-items: center;
                justify-content: center;
                input[type=submit]{
                    margin-top: 2vh;
                    width: 15vw;
                    height: 4vh;
                    transition: all 0.3s;
                    font-size: 1.5vh;
                }
                input[type=submit]:hover{
                    cursor: pointer;
                    transition: all 0.3s;
                    transform: scale(1.05);
                }
            }
        }
        #cadastro{
            background-color: #E7C7B3;
            margin-top: 5vh;
            padding: 1vh;
            display: flex;
            flex-direction: column;
            width: 20vw;
            justify-content: center;
            align-items: center;
            border-radius: 2vh;
            button{
                margin-top: 1.5vh;
                width: 10vw;
                height: 4vh;
                border-radius: 0.7vh;
                border: none;
                background-color: #F5E8DF;
                transition: all 0.3s;
                font-size: 1.5vh;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            button:hover{
                cursor: pointer;
                transition: all 0.3s;
                transform: scale(1.05);
            }
        }
    }
    #aside2{
        grid-area: aside2;
    }
    footer{
        grid-area: footer;
        background-color: #5C8B67;
        display: flex;
        align-items: center;
        font-size: 1.7vh;
        img{
            width: 5vw;
            height: 6vh;
            position: absolute;
        }
        #informacoes-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5vh;
            margin: auto;
            p{
                color: white;
            }
            #direitos{
                text-decoration: underline;
            }
        }
        #e-mail{
            color: white;
            display: flex;
            margin-left: 80vw;
            position: absolute;
        }
    }
}